
  <mat-card>
    <h2>{{ 'register-container.register.title' | translate }}</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form">

      <mat-form-field appearance="fill" class="form-field">
        <mat-label> Username</mat-label>
        <input title="username" matInput placeholder="Username" id="username" name="username" required
          formControlName="username" />
        @if (isInvalidControl(form, 'username')) {
        <mat-error>{{ errorMessagesForControl(form, 'username')}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>{{ 'register-container.register.passwordPlaceholder' | translate }}</mat-label>
        <input title="password" matInput placeholder="Password" id="password" name="password" type="password" required
          formControlName="password" />
        @if (isInvalidControl(form, 'password')) {
        <mat-error>{{ errorMessagesForControl(form, 'password')}}</mat-error>
        }
      </mat-form-field>

 
      <div class="container-actions">
        <button class="button-primary" type="submit"  mat-flat-button>  {{ 'register-container.register.submitButton' | translate }}</button>
        <span class="text-center">
          {{ 'register-container.register.alreadyHaveAccount' | translate }}
        </span>
        <button class="button-secondary"  mat-raised-button type="button"  (click)="navigateToLogin()"  mat-flat-button>  {{ 'register-container.register.loginButton' | translate }}</button>
      </div>

    </form>
  </mat-card>


