

<div class="login-container">
  <mat-card>
    <h2>{{ 'login-container.login.title' | translate }}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" id="username" name="username" required formControlName="username" />
        @if (isInvalidControl(form, 'username')) {
        <mat-error>{{ errorMessagesForControl(form, 'username')}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>{{ 'login-container.login.passwordPlaceholder' | translate }}</mat-label>
        <input matInput placeholder="Password" id="password" name="password" type="password" required
          formControlName="password" />
        @if (isInvalidControl(form, 'password')) {
        <mat-error>{{ errorMessagesForControl(form, 'password')}}</mat-error>
        }
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" class="submit-button">
          {{ 'login-container.login.submitButton' | translate }}
        </button>
      </div>
    </form>

    <p class="register-prompt">
      {{ 'login-container.login.registerPrompt' | translate }}
      <button type="button" (click)="navigateToRegister()" mat-button>
        {{ 'login-container.login.registerButton' | translate }}
      </button>
    </p>
  </mat-card>
</div>
