<div class="pet-list">
    <h2>List of registered pets</h2>
    <div class="controls-container">
        <input type="text" placeholder="Search pets" class="search-input" />
        <button class="add-new">Add new</button>
    </div>

    <table>
      <thead>

      <tr>
        <th *ngFor="let column of columnsToDisplay">{{column}} </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pet of dataSource">
        <td>{{ pet.name }}</td>
        <td>{{ pet.birthDate }}</td>
        <td>{{ pet.registrationDate }}</td>
        <td>{{ pet.breed }}</td>
        <td>{{ pet.gender }}</td>
        <td>{{ pet.hc }}</td>
        <td>
          <button>Edit</button>
          <button>History</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="pagination">
        <button>&lt;</button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
        <button>5</button>
        <button>&gt;</button>
    </div>
  </div>
  