<div class="register-container">
  <mat-card>
    <h2>{{ 'register-container.register.title' | translate }}</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>{{ 'register-container.register.emailPlaceholder' | translate }}</mat-label>
        <input matInput type="email" formControlName="email" required />
        <mat-error *ngIf="registerForm.get('email')?.invalid">
          {{ getErrorMessage('email') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>{{ 'register-container.register.passwordPlaceholder' | translate }}</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-error *ngIf="registerForm.get('password')?.invalid">
          {{ getErrorMessage('password') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>{{ 'register-container.register.confirmPasswordPlaceholder' | translate }}</mat-label>
        <input matInput type="password" formControlName="confirmPassword" required />
        <mat-error *ngIf="registerForm.get('confirmPassword')?.invalid">
          {{ getErrorMessage('confirmPassword') }}
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!registerForm.valid"
        class="submit-button"
      >
        {{ 'register-container.register.submitButton' | translate }}
      </button>

      <p>{{ 'register-container.register.alreadyHaveAccount' | translate }}</p>
      <button mat-button (click)="navigateToLogin()">
        {{ 'register-container.register.loginButton' | translate }}
      </button>
    </form>
  </mat-card>
</div>
