<div class="client-list">
  <h2>{{'clients.home.title' | translate}}</h2>


  <div class="controls-container">
    <mat-form-field>
        <input matInput type="text" placeholder="Search clients" class="search-input" />
    </mat-form-field>
    <button mat-stroked-button (click)="navigateToAddClient()">{{'clients1.home.button' | translate}}</button>
</div>

  <!-- DATA TABLE -->

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">ID</th>
      <td mat-cell *matCellDef="let client">{{client.id}}</td>
    </ng-container>
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">Fullname</th>
      <td mat-cell *matCellDef="let client">{{ client.fullName }}</td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">Phone</th>
      <td mat-cell *matCellDef="let client">{{ client.phone }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">Email</th>
      <td mat-cell *matCellDef="let client">{{ client.email }}</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">address</th>
      <td mat-cell *matCellDef="let client">{{ client.address }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">Status</th>
      <td mat-cell *matCellDef="let client">{{ client.status }}</td>
    </ng-container>
    <ng-container matColumnDef="hc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">HC</th>
      <td mat-cell *matCellDef="let client">{{ client.hc }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Actions">Actions</th>
      <td mat-cell *matCellDef="let client">
        <div class="button-container">
          <button mat-stroked-button>{{'clients.home.buttons.edit' | translate}}</button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

</div>