.controls-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.button-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.header-actions {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.search-full-width {
  width: 100%;

}

.button-add{
  width: 400px;
  margin-top: 12px;
}

