<h2>{{ 'editClient.title' | translate }}</h2>

<form #clientForm="ngForm" (submit)="onSubmit()" class="form">
  <mat-form-field id="full-name-form-field">
    <input matInput [(ngModel)]="client.fullName" name="fullName" placeholder="{{ 'editClient.fullNamePlaceholder' | translate }}" required />
  </mat-form-field>

  <mat-form-field id="phone-form-field">
    <input matInput [(ngModel)]="client.phoneNumber" name="phoneNumber" placeholder="{{ 'editClient.phoneNumberPlaceholder' | translate }}" required />
  </mat-form-field>

  <mat-form-field id="email-form-field">
    <input matInput [(ngModel)]="client.email" name="email" placeholder="{{ 'editClient.emailPlaceholder' | translate }}" required />
  </mat-form-field>

  <mat-form-field id="address-form-field">
    <input matInput [(ngModel)]="client.address" name="address" placeholder="{{ 'editClient.addressPlaceholder' | translate }}" required />
  </mat-form-field>

  <app-pets-client></app-pets-client>

  <div class="button-container">
    <button mat-stroked-button type="submit">{{ 'editClient.updateButton' | translate }}</button>
    <button mat-stroked-button type="button" (click)="onCancel()">{{ 'editClient.cancelButton' | translate }}</button>
  </div>
</form>
