.main {
    overflow: hidden;
    display: flex;
}

/* .container {
    display: flex;
    height: 100vh;
  } */

.sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 50px;
}

.content {
    width: 80%;
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
}