.container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    position: fixed;
    height: 100%;
  }
  
  .content {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 20px;
    overflow-y: auto;
  }
  