<h2>Edit Pet</h2>
<form #petForm="ngForm" (submit)="onSubmit()" class="form">
  <mat-form-field id="name-form-field">
    <input matInput [(ngModel)]="pet.petName" name="petName" placeholder="Pet Name" required />
  </mat-form-field>

  <mat-form-field id="birth-date-form-field">
    <input matInput [(ngModel)]="pet.birthDate" name="birthDate" placeholder="Birth Date" required type="date" />
  </mat-form-field>

  <mat-form-field id="registration-date-form-field">
    <input matInput [(ngModel)]="pet.registrationDate" name="registrationDate" placeholder="Registration Date" required
      type="date" />
  </mat-form-field>

  <mat-form-field id="breed-form-field">
    <input matInput [(ngModel)]="pet.animalBreed" name="animalBreed" placeholder="Breed" required />
  </mat-form-field>

  <mat-form-field id="owner-form-field" appearance="fill">
    <mat-label>Choose owner</mat-label>
    <mat-select name="ownerId" [(ngModel)]="pet.ownerId" required>
      <mat-option [value]="0">
        No  selected owner
      </mat-option>
      <mat-option *ngFor="let option of options" [value]="option.id">
        {{ option.fullName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  


<mat-radio-group id="gender-form-field" name="petGender" [(ngModel)]="pet.petGender" name="petGender"  placeholder="Gender" aria-label="Select an gender">
  <mat-radio-button value="MALE">MALE</mat-radio-button>
  <mat-radio-button value="FEMALE">FEMALE</mat-radio-button>
</mat-radio-group>

  <div class="button-container">
    <button mat-stroked-button type="submit">Update</button>
    <button mat-stroked-button type="button" (click)="onCancel()">Cancel</button>
  </div>