<mat-sidenav-container>
    <mat-sidenav #drawer fixedInViewport>
        <mat-toolbar>
            Pawfect Care
        </mat-toolbar>
      <mat-nav-list class="navlist-container">
        <ng-container *ngFor="let option of options">
          <a mat-list-item [routerLink]="option.path" routerLinkActive="active-link">
            <mat-icon *ngIf="option.icon" class="menu-icon">{{ option.icon }}</mat-icon>
            {{ option.title }}
          </a>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="side-content" >
        <mat-toolbar class="toolbar-container">
            <div class="logo-container">
                <button mat-icon-button (click)="drawer.toggle()" type="button" aria-label="Sidenav toggle icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <!-- Logo de la empresa -->
                <img src="assets/images/perro.png" alt="Pawfect Care Logo" class="logo-img" />
                <h2>Pawfect Care</h2>
            </div>
            <div class="left-buttons">
                <button mat-stroked-button (click)="navigateToLogin()">Login</button>
                <app-language-switcher></app-language-switcher>
            </div>

        </mat-toolbar>
        <div class="router-container">
            <router-outlet />
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
