<h2>New Client</h2>
<div class="form-section">

  <form #clientForm="ngForm" (submit)="onSubmit()" class="form">
    <mat-form-field >
      <mat-label>Enter your fullName</mat-label>
      <input matInput [(ngModel)]="client.fullName" name="fullName" placeholder="Full Name" type="text" required />
    </mat-form-field>
    <mat-form-field >
      <mat-label>Enter your phoneNumber</mat-label>
      <input matInput [(ngModel)]="client.phoneNumber" name="phoneNumber" placeholder="Phone" type="number" required />
    </mat-form-field>
    <mat-form-field >
      <mat-label>Enter your email</mat-label>
      <input matInput [(ngModel)]="client.email" name="email" placeholder="Email" type="email" required />
    </mat-form-field>
    <mat-form-field >
      <mat-label>Enter your address</mat-label>
      <input matInput [(ngModel)]="client.address" name="address" placeholder="Address" type="text" required />
    </mat-form-field>
    <div class="button-container">
      <button  mat-stroked-button type="submit">Add</button>
      <button mat-stroked-button type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
